*,*::before,*::after{

padding: 0;
margin: 0;
box-sizing: border-box;


}

body{

    height: 100vh;
    background-image: linear-gradient(to
    top,#3ef72d,#26d1fc);


}
.container{

   background-image: linear-gradient(to
   top,#f342b8,#27c7f8);
    width: 500px;
    height: 350px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;

    top: 50%;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 15px 30px rgb(0,0,0,0);


}

.image-container{


    position: relative;

}
img{
    position: relative;
    width: 460px;
    height: 280px;
    display: none;
}
.active{

display: block;

}

.dot-container{


    width: 250px;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
button{

outline: none;
cursor: pointer;

}

.dot-container button{

    height: 15px;
    width: 50px;
    border-radius: 10%;
    border: 3px solid #eb2314;
    background-color: transparent;
}

.dot-container button:nth-child(1){

    background-color: #f1f52c;
}

#prev,#next{

    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #b1f710;
    color: #ffffff;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bolder;
    


}
#prev{
    left: 5px;

}

#next{
    right: 5px;
}